.page-body {
  background: #F8F8F8;
  margin: 0;
}
.container {
  width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 728px;
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 300px) {
  .page-header {
    padding: 12px;
    background: #333333;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .page-header__user-block .page-header__btn {
    display: none;
  }
  .page-header__register-btn {
    background: none;
    border: none;
    color: #7e7e7e;
    font-size: 18px;
  }
  .page-header__basket-btn {
    margin-right: 10px;
    background: none;
    border: none;
    color: #7e7e7e;
    font-size: 18px;
  }
  .page-header__register-btn:hover,
  .page-header__basket-btn:hover {
    color: #FFF;
    outline: none;
  }
  .page-header__form {
    display: inline-block;
    padding-top: 0px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    padding: 0;
  }
  .page-header__btn:nth-child(2) {
    margin-right: 80px;
  }
  .page-header__form {
    display: inline-block;
    padding-top: 12px;
  }
  .page-header__user-block .page-header__btn {
    display: inline-block;
  }
  .page-header__register-btn,
  .page-header__basket-btn {
    display: none;
  }
}
.page-header {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  background: #333333;
  color: #7e7e7e;
}
.page-header__form {
  float: left;
}
.page-header__user-block {
  float: right;
}
.page-header__btn {
  font-family: 'Montserrat', sans-serif;
  border: none;
  background: none;
  color: #7e7e7e;
  text-decoration: none;
}
.page-header__btn--active {
  color: #00c8c8;
}
.page-header__btn:first-child {
  display: inline-block;
  margin-right: 30px;
}
.page-header__btn:nth-child(2) {
  margin-right: 80px;
}
.page-header__form--select {
  border: none;
  background: #333;
  color: #7e7e7e;
}
.page-header__form--select option {
  border: none;
  background: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
}
.page-header__empty-basket {
  display: inline-block;
  margin-left: 22px;
}
.page-header__btn--basket {
  padding: 12px 22px;
}
.page-header__btn--basket:hover {
  background: #00C8C8;
  color: #fff;
}
.top-content {
  padding-top: 40px;
  padding-bottom: 115px;
  background: url("../img/headerBg.jpg");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 1200px) {
  padding-bottom: 0px;
}
.top-content .container {
  position: relative;
}
.top-content__logo {
  float: left;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
/*nav*/
.top-content__nav-form {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.top-content__nav-hamburger {
  position: absolute;
  right: 15px;
  top: -5px;
  background: none;
  border: none;
  color: #000;
  font-size: 20px;
  outline: none;
}
.top-content__nav-hamburger:hover,
.top-content__close-hamburger:hover {
  color: #00C8C8;
}
.top-content__close-hamburger {
  display: none;
  position: absolute;
  right: 20px;
  top: -7px;
  background: #f8f8f8;
  border: none;
  color: #000;
  font-size: 24px;
  outline: none;
}
.top-content__navigation {
  display: none;
}
.top-content__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-content__nav-items {
  display: block;
  text-align: center;
  background: #F8F8F8;
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
.top-content__nav-links--decor {
  display: none;
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  font-size: 10px;
}
.top-content__nav-links {
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.top-content__nav-links--active {
  color: #00c8c8;
}
.top-content__nav-links:hover {
  color: #00C8C8;
}
.top-contnet__under-nav {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top-content__under-links {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.top-content__under-links:first-child {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.top-content__showBtn {
  display: block;
}
.top-content__closeBtn {
  display: none;
}
@media (min-width: 1200px) {
  .top-content__nav-form {
    width: auto;
    margin-top: 0;
    margin-bottom: 240px;
  }
  .top-content__nav-hamburger {
    display: none;
  }
  .top-content__navigation {
    display: inline-block;
  }
  .top-content__nav-items {
    display: inline-block;
    margin-right: 50px;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
  }
  .top-content__nav-links--decor {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    font-size: 10px;
  }
  .top-contnet__under-nav {
    display: none;
  }
}
/*search-form*/
.top-content__search {
  display: none;
}
.top-content__search-input {
  position: relative;
  display: inline-block;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.top-content__search-input:hover,
.top-content__search-input:focus {
  outline: none;
}
.top-content__search-input::after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0;
  width: 20px;
  height: 20px;
  background: green;
}
/*banner*/
.top-content__banner {
  margin-bottom: 40px;
}
.top-content__banner-btn {
  display: inline-block;
  float: right;
  font-size: 16px;
  padding: 20px 30px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  color: #505152;
  border: 2px solid #505152;
}
@media (min-width: 1200px) {
  .top-content__search {
    display: inline-block;
    border: none;
  }
  .top-content__banner {
    margin-bottom: 123px;
  }
  .top-content__banner-btn {
    margin-right: 90px;
  }
}
.navigation-popup {
  display: none;
}
@media (min-width: 1200px) {
  .navigation-popup {
    display: none;
    position: absolute;
    margin: 0 auto;
    margin-top: 10px;
    width: 306px;
    padding: 28px;
    background: #F8F8F8;
    -webkit-box-shadow: 0px 0px 15px #000;
    box-shadow: 0px 0px  15px #000;
  }
  .navigation-popup__table {
    border-spacing: ;
    width: 306px;
    padding: 28px;
    background: #F8F8F8;
  }
  .navigation-popup__banner {
    display: block;
    position: relative;
    z-index: 40;
    text-align: center;
    background: #F8F8F8;
  }
  .navigation-popup__close-btn {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    top: 20px;
    right: 20px;
    font-size: 18px;
  }
  .navigation-popup__close-btn:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  .navigation-popup__show-btn {
    display: block;
  }
}
.catalog {
  padding-top: 58px;
  padding-bottom: 58px;
}
.catalog__list {
  display: block;
  border-top: 1px solid #EEE;
  list-style: none;
  margin: 0;
  margin-bottom: 58px;
  padding-top: 50px;
}
.catalog__items {
  display: inline-block;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #727272;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog__items:hover {
  text-decoration: underline;
}
.catalog__items--active {
  color: #00C8C8;
}
.catalog__products {
  border-bottom: 1px solid #EEE;
  padding-bottom: 58px;
}
.catalog__items-1 {
  display: inline-block;
  float: right;
  width: 600px;
  height: auto;
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.catalog__items-2 {
  display: inline-block;
  float: right;
  width: 270px;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.catalog__items-3 {
  display: inline-block;
  width: 270px;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.catalog__items-4 {
  display: inline-block;
  float: left;
  width: 550px;
  height: auto;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.catalog__items-4 .catalog__img {
  height: 514px;
}
.catalog__items-5 {
  display: inline-block;
  float: right;
  width: 295px;
  height: auto;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.catalog__items-6 {
  display: inline-block;
  float: right;
  width: 295px;
  height: auto;
  margin-right: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
@media (max-width: 1200px) {
  .catalog__items {
    margin-right: 30px;
  }
  .catalog__items-1,
  .catalog__items-4 {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .catalog__items-2,
  .catalog__items-3,
  .catalog__items-5,
  .catalog__items-6 {
    display: inline-block;
    float: none;
    margin: 10px auto;
    text-align: center;
  }
  .catalog__items-2,
  .catalog__items-5 {
    margin-left: 90px;
  }
  .catalog__items-5,
  .catalog__items-6 {
    width: 270px;
  }
  .catalog__items-1 {
    width: 550px;
  }
}
@media (max-width: 768px) {
  .catalog__list {
    text-align: left;
    padding: 0;
  }
  .catalog__items {
    padding: 10px;
    margin-right: 50px;
  }
  .catalog__items-1,
  .catalog__items-2,
  .catalog__items-3,
  .catalog__items-4,
  .catalog__items-5,
  .catalog__items-6 {
    width: 270px;
    height: auto;
    margin: 10px 0;
  }
  .catalog__items-4 .catalog__img {
    height: auto;
  }
}
.look {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 132px;
}
.look__block {
  position: relative;
  display: inline-block;
  width: 15%;
  padding-left: 13%;
  padding-right: 2%;
  height: 530px;
  height: auto;
  border: 1px solid black;
  text-align: right;
  background: #F8F8F8;
}
.look__block-men {
  background: url("../img/men.png");
  background-position: 30px 20px;
  background-repeat: no-repeat;
}
.look__block-women {
  background: url("../img/women.png");
  background-position: -100px 20px;
  background-repeat: no-repeat;
}
.look__block-you {
  background: url("../img/you.png");
  background-position: 30px 20px;
  background-repeat: no-repeat;
}
.look-block-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #575153;
}
.look-block__btn {
  padding: 20px 35px;
  color: #000;
  border: 1px solid #000;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  margin-top: 30px;
  margin-bottom: 110px;
}
.look-block__btn:hover {
  color: #FFF;
  background: #00C8C8;
  border: 1px solid #00C8C8;
  outline: none;
}
.look-block__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 22px;
}
@media (max-width: 1200px) {
  .look {
    display: block;
    margin-bottom: 58px;
  }
  .look__block {
    display: block;
    width: 30%;
    padding-left: 25%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .look-block-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    color: #575153;
  }
}
@media (max-width: 768px) {
  .look__block {
    width: 70%;
    padding-left: 20%;
  }
  .look-block-title {
    font-size: 25px;
  }
}
.page-footer {
  background: #f3f3f3;
  padding: 58px 0;
}
.page-footer__content {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.page-footer__items-title {
  margin-bottom: 30px;
}
.page-footer__list {
  margin: 0 auto;
  margin-bottom: 20px;
  list-style: none;
  padding: 0 10px;
}
.page-footer__contacts-title {
  display: inline-block;
  margin-bottom: 30px;
}
.page-footer__address {
  display: block;
}
@media (min-width: 768px) {
  .page-footer__list {
    display: inline-block;
  }
}
@media (max-width: 1200px) {
  .page-footer__content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .page-footer__address {
    display: block;
    margin-left: 10px;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .page-footer__address {
    display: block;
    margin-left: 80px;
  }
}
.page-footer a {
  color: black;
  text-decoration: none;
}
.page-bottom {
  background: #333;
  color: #8b8080;
  text-align: center;
  padding: 13px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.page-body__brand .top-content {
  background: #F8F8F8;
  padding-bottom: 40px;
}
.page-body__brand .top-content__nav-form {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .page-body__brand .top-content {
    padding-bottom: 60px;
  }
  .page-body__brand .top-content__nav-form {
    margin-bottom: 50px;
  }
}
.brand-banner {
  background: url("../img/Brand/banner.jpg");
  padding: 70px 0;
  text-align: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.brand-banner__title {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFF;
}
.brand-banner__text {
  display: inline-block;
  font-size: 30px;
  line-height: 54px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #FFF;
}
@media (min-width: 1200px) {
  .brand-banner {
    padding: 170px 0;
  }
}
@media (max-width: 768px) {
  .brand-banner__text {
    font-size: 28px;
  }
  .brand-banner__title {
    font-size: 30px;
  }
}
.brand__content-items {
  display: inline-block;
}
.brand__content-items img {
  width: 570px;
  height: 400px;
}
.brand__content-items--1 {
  float: left;
}
.brand__content-items--2 {
  float: right;
  width: 570px;
  margin-bottom: 55px;
}
.brand__content-items--3 {
  width: 570px;
  float: right;
}
.brand__content-items--4 {
  width: 570px;
  float: left;
  margin-top: 55px;
}
.brand__content-items--5 {
  float: right;
  margin-top: 70px;
}
.brand__content-items--5 img {
  width: auto;
  height: auto;
}
.brand__content {
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .brand__content-blocks {
    text-align: center;
  }
  .brand__content-items {
    float: none;
  }
}
@media (max-width: 768px) {
  .brand__content-blocks {
    text-align: center;
  }
  .brand__content-items {
    width: 320px;
  }
  .brand__content-items img {
    height: auto;
  }
}
.avenue-content {
  padding-bottom: 58px;
}
.avenue-content__blocks {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.avenue-content__blocks-title {
  color: #a5a2a3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.avenue-content__title-text {
  color: #a5a2a3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.avenue-content__block2 {
  padding: 0 20px;
}
.avenue-content__block-text {
  font-size: 15px;
  color: #C3C2C2;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin-bottom: 30px;
}
.avenue-content__btn {
  padding: 20px 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: none;
  border: 2px solid #737373;
  color: #737373;
}
.avenue-content__btn:hover {
  color: #FFF;
  background: #00C8C8;
  outline: none;
  border: 1px solid #00c8c8;
}
@media (max-width: 1200px) {
  .avenue-content {
    padding-bottom: 18px;
  }
  .avenue-content__blocks {
    display: block;
  }
  .avenue-content__block {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 60%;
  }
  .avenue-content__btn {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .avenue-content__block {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 85%;
  }
}
.avenue__location {
  margin-bottom: 120px;
  background: #f8f8f8;
}
.avenue__location-map {
  float: left;
  width: 68%;
}
.avenue__location-address {
  float: right;
  padding: 2%;
  width: 28%;
  background: #F8F8F8;
}
.avenue__address-block {
  font-style: normal;
}
.avenue__address-block .avenue-content__blocks-title {
  margin-top: 0;
}
.avenue__location-detail {
  padding: 0;
}
.avenue__location-details {
  position: relative;
  padding-left: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: lighter;
}
.avenue__location-details::before {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  width: 20px;
  height: 25px;
  background: url("../../img/Avenue/icons.png");
  background-repeat: no-repeat;
}
.avenue__location-details--1::before {
  background-position: 0 -2px;
}
.avenue__location-details--2::before {
  background-position: 0 -32px;
}
.avenue__location-details--3::before {
  background-position: 0 -65px;
}
.avenue__location-details--4::before {
  background-position: 0 -95px;
}
.avenue__location-details--5::before {
  background-position: 0 -128px;
}
.avenue__location-details a {
  color: #737373;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: lighter;
}
.avenue__social-links {
  font-size: 0;
  display: inline-block;
  margin-right: 12px;
  height: 30px;
  width: 30px;
  background: url("../../img/Avenue/social.png");
  background-repeat: none;
}
.avenue__social-links--fb {
  background-position: 0 0;
}
.avenue__social-links--tw {
  background-position: -44px 0px;
}
.avenue__social-links--in {
  background-position: -88px 0px;
}
.avenue__social-links--pin {
  background-position: -132px 0px;
}
.avenue__social {
  display: inline-block;
}
@media (max-width: 1200px) {
  .avenue__location {
    margin-bottom: 58px;
  }
  .avenue__location-map {
    float: none;
    width: 100%;
  }
  .avenue__location-address {
    float: none;
    margin: 0 auto;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .avenue__location-details {
    font-size: 10px;
  }
}
.lookbook__catalog-items {
  display: inline-block;
  float: left;
  height: auto;
}
.lookBook__catalog {
  border-bottom: 1px solid #eee;
  padding-bottom: 58px;
}
.lookbook__catalog-items1,
.lookbook__catalog-items2 {
  width: 24%;
}
.lookbook__catalog-items1 {
  float: none;
}
.lookbook__catalog-items2 {
  float: right;
}
.lookbook__catalog-items3 {
  width: 47%;
  float: right;
  padding-left: 1%;
  background: url("../img/catalog3.3.jpg");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
}
.lookbook__catalog-items .look-block__btn {
  margin-bottom: 40px;
}
.lookbook__catalog-items5,
.lookbook__catalog-items6,
.lookbook__catalog-items7 {
  width: 24%;
  float: right;
  margin: 20px 0;
}
.lookbook__catalog-items4 {
  float: left;
  width: 24%;
  margin: 20px 0;
}
.lookbook__catalog-items8 {
  width: 74%;
  height: 330px;
  float: left;
  padding-left: 1%;
  background: url("../img/lookBook/catalog8.8.jpg");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
}
.lookbook__catalog-items9 {
  float: right;
  width: 24%;
}
@media (max-width: 1200px) {
  .lookBook__catalog {
    position: relative;
  }
  .lookbook__catalog-items {
    float: none;
    display: inline-block;
  }
  .lookbook__catalog-items3 {
    width: 100%;
  }
  .lookbook__catalog-items8 {
    width: 100%;
  }
  .lookbook__catalog-items7,
  .lookbook__catalog-items6 {
    display: inline-block;
  }
  .lookbook__catalog-items9 {
    position: absolute;
    top: 620px;
    left: 360px;
  }
}
@media (max-width: 768px) {
  /*
	.lookbook__catalog-items {
		float: none;
		width: 270px;
		height: auto;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	*/
  .lookbook__catalog-items {
    width: 45%;
  }
  .lookbook__catalog-items3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .lookbook__catalog-items8 {
    width: 100%;
  }
  .lookbook__catalog-items9 {
    display: none;
  }
}
.page-body__product .brand-banner__title {
  font-weight: lighter;
}
.product-banner {
  color: #00c8c8;
}
.product-details {
  float: left;
  width: 57%;
  margin-bottom: 40px;
  padding-left: 3%;
  text-align: left;
}
@media (max-width: 1200px) {
  .product-details {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}
.product-details__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.product__reviews {
  padding: 0 12px;
}
.product-detail__top {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.product-stars {
  color: #ded3aa;
}
.product-stars--white {
  color: #DFDFDE;
}
.product__add-review {
  padding: 0 12px;
  text-transform: none;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.product__add-review:hover {
  color: #00c8c8;
  cursor: pointer;
}
.product-detail__share {
  color: #C9C9C9;
  padding-left: 12px;
  padding-right: 12px;
}
.product-detail__link {
  color: #C9C9C9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
}
.product-detail__link:hover {
  text-decoration: none;
  color: #00c8c8;
  cursor: pointer;
}
.product-detail__link--envelop {
  padding: 0 15px;
}
/*вторая строчка*/
.product-currency__strike {
  padding-right: 20px;
}
.product-currency {
  font-size: 30px;
  color: #B1B1B1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
/*строчка 3*/
.product-details__stock {
  margin-top: 50px;
  color: #B1B1B1;
  line-height: 35px;
}
.product-details__stock-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
.product-details__tag {
  color: #00c8c8;
}
.product-details__text {
  color: #969494;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.product-details__list {
  list-style: none;
  color: #969494;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}
.product-details__list-item {
  position: relative;
  padding-left: 15px;
}
.product-details__list-item::before {
  position: absolute;
  content: "-";
  bottom: 2px;
  left: 0;
}
/*Форма*/
.product-details__form-parts {
  display: inline-block;
  margin-right: 48px;
}
.product-details__form-label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.product-details__form-select {
  width: 155px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 22px;
}
.product-details__form-select option {
  width: 155px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
}
.product-details__form-select:focus,
.product-details__form-select:focus option,
.product-details__form-select:hover option {
  outline: none;
}
.product-details__form-select:hover {
  outline: none;
}
/*BUTTONS*/
.product-details__btn-add {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 25px;
  color: #FFF;
  background: #333;
  outline: none;
  border: 1px solid #333;
  cursor: pointer;
  padding: 20px 32px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.product-details__btn-add:hover {
  cursor: pointer;
  color: #333;
  background: #FFF;
  border: 1px solid #333;
}
.product-details__btn-decor {
  padding-right: 12px;
}
.product-details__btn-add:nth-child(2) {
  padding: 19px 32px;
}
.product-detail__compare-btn {
  background: none;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: none;
  outline: thin;
}
.product-detail__compare-btn:hover {
  outline: none;
}
.product-detail__compare-btn--decor {
  display: inline-block;
  margin-right: 16px;
  padding: 3px 6px;
  color: #FFF;
  background: #727272;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.slider {
  position: relative;
  float: left;
  width: 40%;
  height: 100%;
}
.slider img {
  height: 710px;
}
.slider-prevBtn {
  position: relative;
  bottom: 330px;
}
.slider-nextBtn {
  position: relative;
  bottom: 330px;
  right: -410px;
}
.slider-nextBtn,
.slider-prevBtn {
  background: none;
  font-size: 32px;
  color: #575153;
  border: none;
}
.slider-nextBtn:hover,
.slider-prevBtn:hover {
  color: #FFF;
  background: #00c8c8;
  cursor: pointer;
  outline-style: none;
}
@media (max-width: 1200px) {
  .slider {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .slider img {
    margin: 0 auto;
    height: auto;
  }
  .slider-nextBtn {
    bottom: 200px;
    right: -245px;
  }
  .slider-prevBtn {
    bottom: 200px;
    left: -5px;
  }
  .product-details__btn-block {
    margin-top: 30px;
  }
}
.product-description {
  background: #D8D7D7;
  margin-bottom: 25px;
}
.product-description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.product-description__items {
  display: inline-block;
  padding: 16px 20px;
  cursor: pointer;
}
.product-description__items--active {
  background: #333;
}
.product-description__items--active .product-description__items-links {
  color: #FFF;
}
.product-description__items-links {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
.product-description__items:hover {
  background: #333;
}
.product-description__items:hover .product-description__items-links {
  color: #FFF;
}
@media (max-width: 1200px) {
  .product-description__items {
    display: block;
  }
}
.product__content-text {
  padding-left: 20px;
  margin-bottom: 120px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.product__text-title {
  font-size: 16px;
  color: #727272;
}
.product__text-block {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #A5A3A3;
}
@media (max-width: 1200px) {
  margin-bottom: 50px;
}
.ave-forms {
  margin-bottom: 120px;
}
.ave-forms-signin {
  float: left;
  width: 48%;
  padding-right: 2%;
}
.ave-form__register {
  float: right;
  width: 47%;
  padding-left: 2%;
  border-left: 1px solid #EEE;
}
.form-input {
  display: block;
  width: 98%;
  padding: 1%;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #EEE;
}
.form-input:hover {
  outline-style: none;
}
.form-input--first {
  margin-bottom: 20px;
}
.form-title {
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 20px;
  color: #575153;
  font-family: 'Montserrat', sans-serif;
}
.form-submit {
  float: left;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  background: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: 1px solid #737373;
  color: #737373;
  padding: 20px 35px;
}
.form-submit:hover {
  cursor: pointer;
  color: #FFF;
  background: #00C8C8;
  border: 1px solid #00c8c8;
}
.form-link {
  display: inline-block;
  float: right;
  margin-top: 30px;
  color: #00C8C8;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.form-input--password {
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-input--confirm {
  margin-bottom: 30px;
}
.checkbox-block {
  position: relative;
}
.form-input--checkbox {
  position: absolute;
  margin-bottom: 30px;
}
.form-input--checkbox {
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 1px solid #e7e7e7;
  background: none;
  outline-style: none;
}
.form-label__checkbox {
  padding-left: 40px;
  color: #737373;
  font-size: 15px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
}
.ave-form__register-link {
  float: right;
  display: inline-block;
  margin-top: 40px;
  font-size: 15px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  color: #A5A3A3;
}
.ave-form__register-link .form-link {
  margin: 0;
}
@media (max-width: 1200px) {
  .ave-forms {
    margin-bottom: 50px;
  }
  .ave-forms-signin {
    float: none;
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid #EEE;
  }
  .ave-form__register {
    float: none;
    width: 100%;
    padding-top: 2%;
    border: none;
  }
}
@media (max-width: 768px) {
  .form-link {
    float: left;
  }
  .ave-form__register-link {
    float: left;
  }
}
